# Replace with the Docker Hub repository created by the team.
DOCKER_IMAGE=mlr0/risense-server
IMAGE_TAG=latest
DB_URL=jdbc:postgresql://aws-0-ap-northeast-2.pooler.supabase.com:5432/postgres
DB_USERNAME=postgres.dkjrhvwqrsuzpmzjgoiz
DB_PASSWORD=
JWT_SECRET=
CORS_ALLOWED_ORIGINS=https://team-risk-radar-web.vercel.app
